

$header-font: "Futura-Medium", sans-serif; 
$body-font: "Karla", sans-serif;

// Colors; 
$site-background-color: #fff;
$body-text-color: #222;
$dark-accent: MidnightBlue;
$mid-accent: DarkTurquoise;
$light-accent: LightCoral;

// Margin
$margin-sml: 0.5em;
$margin-med: 1em;
$margin-lrg: 2em;

// Font Sizes
$xxlarge-font: 2.5em; 
$xlarge-font: 2em;
$large-font: 1.5em;
$med-font: 1.125em;
$normal-font: 1.05em;
$tiny-font:0.85em;