@import "base";

/* Footer
----------------------------------------------- */
.footer {
  padding: 1em 0 3em;
  font-size: $tiny-font;
  text-transform: uppercase;

  a {
    &:hover {
      font-weight:700;
      color:$light-accent;
    }
  }
}

.copyright {
  text-align:center;
}