@import "base";

/* Navigation - Menu
----------------------------------------------- */

.menu {
  text-transform: uppercase;
  padding-bottom:$margin-med;

  a {
    display: block;
    font-size:.9em;

    &:hover {
      color: $light-accent;
      text-decoration: none;
    }
  }

  .active { color: LightCoral; }

  li { 
    list-style: none;
    border-bottom:1px solid $mid-accent
  }
	
  > li {
    position:relative;

    >a {
      padding: .35em 0;
      font-weight: 600;	
    }
  }

  @media screen and (min-width: 35em) {
    float: right;
    margin-right: -1em;
    padding-bottom:0;

    > li {
      float:left;
      border-bottom:none;
      >a {
        padding:.35em 1em;
        border:0;
      }
      &:hover .submenu {
        display:block;
      }
    }
  }
}

.submenu {

  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;

  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: -.5em;
    left: 0;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-left: .5em solid #222;
  }
  li { border-bottom: 1px solid #444; }
  a {
    padding: .5em 1.5em;
    font-size: .8em;
    font-weight: 300;
    color: #fff;
    background: #222;
    white-space: nowrap;

    &:hover {
      background: $light-accent;
      color: $dark-accent;
    }

  }
}

/* Navigation - Next/Prev links
----------------------------------------------- */

.nextprev {
  padding:$margin-med;
  a { border:0; }
  .prev { float: left; }
  .next { float: right; }
}