/* Navigation - Menu
----------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700);
.menu {
  text-transform: uppercase;
  padding-bottom: 1em; }
  .menu a {
    display: block;
    font-size: .9em; }
    .menu a:hover {
      color: DarkTurquoise;
      text-decoration: none; }
  .menu .active {
    color: DarkTurquoise; }
  .menu li {
    list-style: none;
    border-bottom: 1px solid DarkTurquoise; }
  .menu > li {
    position: relative; }
    .menu > li > a {
      padding: .35em 0;
      font-weight: 600; }
  @media screen and (min-width: 35em) {
    .menu {
      float: right;
      margin-right: -1em;
      padding-bottom: 0; }
      .menu > li {
        float: left;
        border-bottom: none; }
        .menu > li > a {
          padding: .35em 1em;
          border: 0; }
        .menu > li:hover .submenu {
          display: block; } }

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em; }
  .submenu:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: -.5em;
    left: 0;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-left: .5em solid #222; }
  .submenu li {
    border-bottom: 1px solid #444; }
  .submenu a {
    padding: .5em 1.5em;
    font-size: .8em;
    font-weight: 300;
    color: #fff;
    background: #222;
    white-space: nowrap; }
    .submenu a:hover {
      background: DarkTurquoise;
      color: LightCoral; }

/* Navigation - Next/Prev links
----------------------------------------------- */
.nextprev {
  padding: 1em; }
  .nextprev a {
    border: 0; }
  .nextprev .prev {
    float: left; }
  .nextprev .next {
    float: right; }

/* Site-wide Header
----------------------------------------------- */
header {
  padding: 1em 3em 1.5em 2em; }

.logo {
  float: left;
  font-size: 3.5em;
  font-family: "BigJohn", sans-serif;
  text-transform: uppercase;
  line-height: 1.25em;
  font-weight: 700;
  color: #222; }
  .logo:hover {
    color: MidnightBlue; }
  @media screen and (min-width: 40em) {
    .logo {
      display: block; } }

/* Footer
----------------------------------------------- */
.footer {
  padding: 1em 0 3em;
  font-size: 0.85em;
  text-transform: uppercase; }
  .footer a:hover {
    font-weight: 700;
    color: LightCoral; }

.copyright {
  text-align: center; }

/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%; }

/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both; }

/* Site
-------------------------------------------------- */
html {
  font-family: "Karla", sans-serif;
  height: 101%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-repeat: repeat-x;
  margin: 0 auto;
  font-size: 1.05em;
  line-height: 1.5em;
  background-color: #fff;
  color: #222; }

.main {
  font-size: 1.05em;
  padding-bottom: 1em; }
  .main hr, .main hr.invisible {
    margin: 3em 0;
    height: 2px;
    background: #ddd; }
  .main hr.invisible {
    background: #fff; }
  .main p, .main figure, .main ul, .main ol {
    margin-bottom: 1em; }
  .main a {
    border-bottom: 1px dashed MidnightBlue; }
    .main a:hover {
      color: DarkTurquoise;
      border-color: #222; }

/* Text blocks
-------------------------------------------------- */
.content_block {
  margin: 0em 2em;
  padding-left: 1em; }

.text ul, .text ol {
  margin-left: 1em; }

a {
  color: MidnightBlue;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s; }

h1, h2, h3, h4 {
  font-family: "BigJohn", sans-serif;
  padding-left: 1em;
  margin-bottom: 1em;
  line-height: 1.25 em;
  font-size: 3.5em;
  font-weight: 800; }
  h1 a, h2 a, h3 a, h4 a {
    color: inherit;
    border: 0 !important; }

h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bolder; }

h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: MidnightBlue; }

h4 {
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Karla", sans-serif; }

/* Page specific */
/* Display project details in subcat
----------------------------------------------- */
.subcat {
  background-color: white;
  padding: 0.75em 2.5em;
  margin-bottom: 1em; }

.project_description {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0em !important;
  font-size: 0.85em; }
  .project_description a {
    color: MidnightBlue;
    border-bottom: none;
    font-size: 1.3em;
    text-transform: uppercase; }

/* Displays first n projects in given subcat
----------------------------------------------- */
.teaser, .all {
  margin-bottom: 0 !important;
  list-style: none; }
  .teaser p, .all p {
    line-height: 1.4em; }
  .teaser li, .all li {
    list-style: none; }
    .teaser li p, .all li p {
      margin-bottom: 0.5em; }
    @media screen and (min-width: 50em) {
      .teaser li, .all li {
        margin-top: 1em;
        float: left;
        width: 30%;
        margin-left: 2%; } }

/* Displays all projects in given subcat
----------------------------------------------- */
@media screen and (min-width: 50em) {
  .all li {
    width: 23%; } }

h4 > a.view_all {
  font-weight: 400;
  color: DarkTurquoise;
  font-style: italic;
  padding-left: 0.5em;
  font-size: 0.85em; }
  h4 > a.view_all:hover {
    color: LightCoral; }

/* Individual project detail pages
----------------------------------------------- */
.meta {
  font-size: 0.85em;
  margin-bottom: 1em; }
  .meta li {
    float: left;
    list-style: none;
    margin-right: 1em;
    color: DimGray; }
    .meta li b {
      font-weight: 400;
      color: #000;
      padding-right: .25em; }

/* About Page
----------------------------------------------- */
.about_photo {
  float: left;
  padding: 0em 1em; }
  .about_photo > img {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }

/* Fonts */
@font-face {
  font-family: 'big_johnregular';
  src: url("/assets/fonts/bigjohn-webfont.eot");
  src: url("/assets/fonts/bigjohn-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bigjohn-webfont.woff2") format("woff2"), url("/assets/fonts/bigjohn-webfont.woff") format("woff"), url("/assets/fonts/bigjohn-webfont.ttf") format("truetype"), url("/assets/fonts/bigjohn-webfont.svg#big_johnregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */
