.logo {
  display: block;
  font-family: 'Playfair Display', serif;
  float: left;
  font-size: 2.5em;
  line-height: 1.25em;
  font-weight: 800;
  margin-bottom: .5em;
  text-shadow: -3px -3px lightcoral; }
  .logo > a {
    color: MidnightBlue; }
  @media screen and (min-width: 40em) {
    .logo {
      font-family: 'Playfair Display', serif;
      float: left;
      font-size: 2.5em;
      line-height: 1.25em;
      font-weight: 800;
      margin-bottom: .5em;
      text-shadow: -3px -3px lightcoral; } }

.menu {
  text-transform: uppercase; }
  .menu a {
    display: block;
    font-size: .9em; }
    .menu a:hover {
      color: LightCoral;
      text-decoration: none; }
  .menu .active {
    color: LightCoral; }
  .menu li {
    list-style: none; }
  .menu > li {
    position: relative; }
    .menu > li > a {
      padding: .35em 0;
      /*border-top: 1px solid #ddd;*/
      font-weight: 600; }
  @media screen and (min-width: 40em) {
    .menu {
      float: right;
      margin-right: -1em; }
      .menu > li {
        float: left; }
        .menu > li > a {
          padding: .35em 1em;
          border: 0; }
        .menu > li:hover .submenu {
          display: block; } }

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em; }
  .submenu:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: -.5em;
    left: 0;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-left: .5em solid #222; }
  .submenu li {
    border-bottom: 1px solid #444; }
  .submenu a {
    padding: .5em 1.5em;
    font-size: .8em;
    font-weight: 300;
    color: #fff;
    background: #222;
    white-space: nowrap; }
    .submenu a:hover {
      background: LightCoral;
      color: DarkTurquoise; }

.main {
  padding-bottom: 1.5em; }
  .main hr {
    margin: 3em 0;
    height: 2px;
    background: #ddd; }
  .main p, .main figure, .main ul, .main ol {
    margin-bottom: 1.5em; }
  .main a {
    border-bottom: 1px dashed MidnightBlue; }
    .main a:hover {
      color: DarkTurquoise;
      border-color: #222; }

.meta {
  font-size: 0.85em;
  margin-bottom: 1.5em; }
  .meta li {
    float: left;
    list-style: none;
    margin-right: 2em;
    color: DimGray; }
    .meta li b {
      font-weight: 400;
      color: #000;
      padding-right: .25em; }

.teaser {
  margin-bottom: 0 !important;
  list-style: none; }
  .teaser p {
    line-height: 1.4em;
    font-size: 0.9em; }
  .teaser li {
    list-style: none; }
    @media screen and (min-width: 50em) {
      .teaser li {
        float: left;
        width: 30%;
        margin-left: 2%; }
        .teaser li:first-child {
          margin-left: 0; } }

.project_description {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0em !important; }
  .project_description a {
    color: MidnightBlue;
    border-bottom: none;
    font-size: 1.125em;
    text-transform: uppercase; }

.project_title a {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
  border-bottom: 0; }

.nextprev {
  padding: 1em 0; }
  .nextprev a {
    border: 0; }
  .nextprev .prev {
    float: left; }
  .nextprev .next {
    float: right; }

.footer {
  padding: 1em 0 3em;
  font-size: .8em;
  text-transform: uppercase; }
  .footer a {
    color: MidnightBlue; }
    .footer a:hover {
      font-weight: 700; }

.copyright {
  text-align: center; }

.about_photo {
  float: left;
  padding: 1em; }
  .about_photo > img {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }

/*# sourceMappingURL=style.css.map */
